.roadmap {
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0;
  @media only screen and (max-width: 428px) {
    padding: 30px 0;
  }
  .heading {
    font-family: Quantico-normal;
    font-size: 60px;
    @media only screen and (max-width: 428px) {
      font-size: 40px;
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
    width: 70%;
    &:last-child{
      margin-bottom: 0px;
    }
    @media only screen and (max-width: 428px) {
      margin: 20px 0;
      width: 100%;
    }
    .title {
      font-size: 40px;
      font-family: Quantico-normal;
      @media only screen and (max-width: 428px) {
        font-size: 30px;
      }
    }
    .head {
      font-size: 18px;
      font-family: poppins;
      font-weight: 500;
    }
    .desc {
      font-size: 14px;
      font-weight: 300;
      font-family: poppins;
      margin-top: 15px;
      width: 70%;
      text-align: center;
      @media only screen and (max-width: 428px) {
        width: 100%;
        margin-top: 6px;
      }
    }
    .icon_div {
      margin-top: 20px;
      width: 30px;
      img {
        height: 100%;
        width: 100%;
      }
    }
  }
}
