.DeadCollectionContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
    .bgImgContainer {
        .DeadCollectionImage {
            display: block ;
            margin: 0 auto;
            object-fit: cover;
        }
        
        .DeadCollection {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .DeadCollectionPersonImage {
                display: block;
                margin: 30px auto;
                height: 320px;
                object-fit: cover;
            }
            .lightning {
                width: 30px;
                height: 30px;
                margin: 0 60px;
            }
        }
    }
    
}
.landingPageBanner{
    @media screen and (max-width: 527px){
        width: 30vh !important;
    }
}