.container {
  min-height: 100vh;
  padding: 20px 0;
}

.container .bgImgContainer {
  height: calc(100vh - 200px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .bgImgContainer .title_div {
  width: 50%;
  margin-bottom: 60px;
}

.container .bgImgContainer .title_div img {
  height: 100%;
  width: 100%;
}

.container .bgImgContainer .row {
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .bgImgContainer .row .icon {
  width: 40;
  height: 60px;
}

.container .bgImgContainer .row .icon img {
  height: 100%;
  width: 100%;
}

.container .bgImgContainer .row .banner_div {
  width: 600px;
}

.container .bgImgContainer .row .banner_div img {
  height: 100%;
  width: 100%;
}

.container .bgImgContainer img {
  display: block;
  margin: auto;
  height: 420px;
  -o-object-fit: cover;
     object-fit: cover;
}
/*# sourceMappingURL=layout.module.css.map */