.title_div {
  // width: 50%;
  height: 40px;
  margin-top: 30px;
  text-align: center;
  img {
    height: 40px;
    @media only screen and (max-width: 527px) {
      width: 100%;
      height: auto;
    }
  }
}
.container {
  min-height: 100vh;
  height: auto;
  padding: 20px 0;
  .bgImgContainer {
    min-height: calc(100vh - 320px);
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
    @media only screen and (min-width: 768px) and (max-width: 992px) {
      min-height: calc(100vh - 250px);
    }
    @media only screen and (max-width: 527px) {
      min-height: calc(100vh - 250px);
    }
    // .title_div {
    //   // width: 50%;
    //   height: 60px;
    //   img {
    //     height: 100%;
    //     width: 100%;
    //   }
    // }
    .row {
      margin-top: 50px;
      margin-bottom: 50px;
      width: 100%;
      justify-content: space-evenly;
      display: flex;
      align-items: center;
      @media screen and (min-width:320px) and (max-width:992px){
        margin-top: 25px;
      margin-bottom: 25px;
      }

      .icon {
        width: 40px;
        // height: 60px;
        @media screen and (max-width: 527px){
          width: 20px;

        }
        .lightIcon {
          height: 100%;
          width: 100%;
        }
      }
      .banner_div {
        width: 70vh;
        // @media only screen and (max-width: 1024px) {
        //   width: 400px;
        // }
        @media only screen and (min-width: 768px) and (max-width: 992px) {
            width: 45vh;
          }
        img {
          height: 100%;
          width: 100%;
        }
      }
    }
    .videoBox{
      width: 750px;
      height: 500px;
      @media screen and (max-width:527px){
          width: calc(100% - 40px);
      }
    }
    // img {
    //   display: block;
    //   margin: auto;
    //   height: 420px;
    //   object-fit: cover;
    // }
  }
}

/* -------------------------------------------------------------------------- */
/*                               ABOUT DATA CSS                               */
/* -------------------------------------------------------------------------- */
.AboutUsContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  // height: 100vh;
  .AboutUsImage {
      display: block;
      margin: 30px auto 60px auto;
      height: 60px;
      object-fit: cover;
  }
  .heading{
    font-family: Quantico-normal;
    font-style: normal;
    font-size: 40px;
    font-weight: 700;
    color: #ffb503;
  }
  .para {
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      letter-spacing: 0px;
      color: #ffb503;
      margin: 15px 0px 40px 0px;
      @media screen and (min-width:768px) and (max-width:992px){
        margin: 7px 0px 30px 
    }
      @media screen and (max-width:527px){
        margin: 7px 0px 30px 
      }
  }
}