.ComingSoonContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
    .ComingSoonImage {
        display: block;
        margin: auto;
        height: 120px;
        object-fit: cover;
    }
}