.AboutUsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

.AboutUsContainer .AboutUsImage {
  display: block;
  margin: 30px auto 60px auto;
  height: 60px;
  -o-object-fit: cover;
     object-fit: cover;
}

.AboutUsContainer .para {
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0px;
  text-align: center;
  color: #ffb503;
  margin: 0 80px;
}
/*# sourceMappingURL=aboutUs.module.css.map */