.shopBox{
    justify-content: start !important;
    margin-bottom: 50px !important;
    // min-height: calc(100vh - 310px) !important;
   
    @media screen and (min-width:768px) and (max-width:992px){
        min-height: calc(100vh - 260px) !important;
        margin-bottom: 0px !important;
    }
    @media screen and (max-width:527px){
        min-height: calc(100vh - 250px) !important;
        margin-bottom: 0px !important; 
    }
}