.catg_card {
  background-color: var(--color-lyme);
  padding: 30px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  @media only screen and (max-width: 428px) {
    padding: 10px;
  }
  .row {
    justify-content: space-evenly;
    .catg {
      width: max-content;
      text-align: center;
      @media only screen and (max-width: 428px) {
        width: 100%;
        margin: 10px 0;
      }
      .title {
        font-family: Quantico-bold;
        font-weight: bold;
        font-size: 20px;
        color: var(--color-dark);
      }
      .desc {
        font-size: 20px;
        font-family: poppins;
        font-weight: 500;
        margin-top: 6px;
      }
    }
  }
}
