.team {
  padding: 80px 0;
  color: var(--color-white);
  .heading {
    font-size: 60px;
    font-family: Quantico-normal;
    text-align: center;
    @media only screen and (max-width: 428px) {
      font-size: 40px;
    }
  }
  .row {
      justify-content: space-between;
    .content {
      margin-top: 90px;
      @media only screen and (max-width: 428px) {
        margin-top: 40px;
      }
      .header {
        display: flex;
        align-items: baseline;
        margin-bottom: 30px;
        @media only screen and (max-width: 428px) {
          margin-bottom: 15px;
          justify-content: center;
        }
        .img_div {
          width: 32px;
          @media only screen and (max-width: 428px) {
            width: 24px;
          }
          img {
            height: 100%;
            width: 100%;
          }
        }
        .title {
          margin-left: 30px;
          font-size: 30px;
          font-family: Quantico-normal;
          @media only screen and (max-width: 428px) {
            font-size: 20px;
            text-align: center;
            margin-left: 6px;
          }
        }
      }
      .desc {
        font-size: 14px;
        font-family: poppins;
        font-weight: 500;
        @media only screen and (max-width: 428px) {
          text-align: center;
        }
      }
    }
  }
}
