.marketplaceSection{
    h3{
        font-weight: 300;
        color: #fff;
        width: 100%;
        text-align: center;
        margin-bottom: 50px;
        @media screen and (max-width:527px){
            font-size: 16px;
            margin-bottom: 20px;
        }

    }
    .mode{
        margin-bottom: 40px;
        .heading{
            font-family: Quantico-bold;
            font-weight: bold;
            font-size: 20px;
            color: var(--color-lyme);   
            text-align: left;
            margin-bottom: 10px
        }
        p{
            font-size: 14px;
            color: #fff;
        }
    }
    .marketView{
        display: flex;
        @media screen and (max-width:527px){
            flex-direction: column;
        }
        .item{
            margin: 20px;
            @media screen and (max-width:527px){
                margin: auto;
                
            }
            &:first-child{
                margin-left:0px; 
                @media screen and (max-width:527px){
                    margin: 20px auto;
                    
                }
            }
            img{
                width: 500px;
                @media screen and (min-width: 1024px) and (max-width:1280px) {
                    width: 400px;
                }
                @media screen and (min-width: 768px) and (max-width:1023px) {
                    width: 300px;
                }
                @media screen and (max-width:527px) {
                    width: 270px;
                }
            }
        }
    }
}