.Navbar {
  background-color: #4d4d4d;
  border-radius: 8px;
  padding: 25px 50px;
  margin: 25px 35px;
}

.Navbar .logos {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Navbar .logos .connectBtn {
  font-size: 16px;
  height: 40px;
  width: 134px;
  border-radius: 6px;
  background: #ffb503;
  border: none;
}

.Navbar .logos .navBrand {
  margin: 0 30px 0 0 !important;
}

.Navbar .logos .navBrand img {
  width: 30px;
  height: 30px;
}

.Navbar .logos .navBrand .crossLogo {
  width: 20px;
  height: 20px;
}
/*# sourceMappingURL=header.module.css.map */