.row {
  background-color: var(--color-light);
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  height: 80px;
  @media only screen and (max-width: 992px) {
    height: 60px;
    padding: 0 20px;
  }
  .icon_div {
    width: 35px;
    // @media only screen and (max-width: 992px) {
    //   height: 34px;
    //   width: 34px;
    // }
    // @media only screen and (max-width: 527px) {
    //   height: 36px;
    //   width: 34px;
    // }
    .lighImage{
      width: 25px;;
    }
    img {
      // height: 100%;
      width: 100%;
    }
  }
  .icon_right_div {
    width: 40px;
    @media only screen and (max-width: 992px) {
     display: none;
    }
    img {
      height: 100%;
      width: 100%;
    }
  }
}
