@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p {
  margin-bottom: 0 !important;
}

body {
  background: #1b1f22 !important;
}

:root {
  --color-bg: #1b1f22;
  --color-lyme: #ffb503;
  --color-light: #ffffff2b;
  --color-white: #ffffff;
  --color-dark: #000000;
  --color-white: #ffffff;
}


@font-face {
  font-family: poppins-bold;
  src: url("./assets/fonts/Poppins-Bold.ttf");
}

@font-face {
  font-family: poppinsR;
  src: url("./assets/fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: Quantico-normal;
  src: url("./assets/fonts/Quantico-Regular.ttf");
}

@font-face {
  font-family: Quantico-bold;
  src: url("./assets/fonts/Quantico-Bold.ttf");
}

.app-header {
  background-color: var(--color-light);
  border-radius: 8px;
  padding: 0 40px;
}

.app-header .navbar {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 80px;
}

.app-header .navbar .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.app-header .navbar .social-icons img {
  width: 35px;
  margin-right: 40px;
}

.app-header .navbar .navbar-collapse {
  -webkit-box-flex: unset;
      -ms-flex-positive: unset;
          flex-grow: unset;
}

.app-header .navbar .navbar-collapse .img-div {
  width: 150px;
}

.app-header .navbar .navbar-collapse .img-div img {
  height: 100%;
  width: 100%;
  background-size: contain;
}

.app-header .navbar .navbar-collapse .sm-menu {
  display: none;
}

.app-header .navbar .header-bttn {
  background-color: var(--color-lyme);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  font-size: 16px;
  color: var(--color-dark) !important;
  width: 160px;
  height: 50px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.app-header .navbar .dropdown .dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "x" !important;
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

.app-header .navbar .dropdown .dropdown-menu {
  width: 250px;
  left: -172px;
  top: 70px;
  padding: 0.5rem 0;
  margin: 0;
  font-size: 1rem;
  background-color: var(--color-light) !important;
  border-radius: 8px;
}

.app-header .navbar .dropdown .dropdown-menu .dropdown-item {
  font-weight: 600;
  color: var(--color-white);
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  background-color: transparent;
}
/*# sourceMappingURL=index.css.map */