.narative{
    margin: 50px 0px;
    color: #fff;

    h2{
        font-family: Quantico-normal;
        font-size: 60px;
        text-align: center;
        @media screen and (max-width:527px){
            font-size: 40px;
        }
    }
    .scrollBox{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        overflow-x: scroll;
        height: auto;
        margin: 30px 0px;
        height: 600px;
       
        .slides{
            // display: flex;
            // flex-direction: column;
            width: 100%;
            height: 100%;
            position: relative;
            border: 1px solid #fff;
            padding: 10px 40px;
            @media screen and (max-width:527px){
                padding: 10px 20px;
            }
            .chapterPage{
                width: 100%;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                .chapternumber{
                    text-align: center;
                    font-size: 30px;
                    width: calc(100% - 80px);
                    @media screen and (max-width:527px){
                        width: calc(100% - 40px);
                        font-size: 18px;
                    }
                }
                .title{
                    text-align: center;
                    font-family: Quantico-normal;
                    color: #ffb503;
                    font-size: 80px;
                    margin-bottom: 0px;
                    width: calc(100% - 80px);
                    @media screen and (max-width:527px){
                        width: calc(100% - 40px);
                        font-size: 30px;
                    }
                }
               
            }
            .page{
                .chapterName{
                    color: #ffb503;
                    padding: 20px;
                }
               
            }
            h1{
                text-align: center;
                font-family: Quantico-normal;
                color: #ffb503;
                font-size: 80px;
                margin-bottom: 20px;
                width: calc(100% - 80px);
                @media screen and (max-width:527px){
                    width: calc(100% - 40px);
                    font-size: 30px;
                }
            }
            .desc{
                width: calc(100% - 80px);
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                text-align: center;
                @media screen and (max-width:527px){
                    width: calc(100% - 40px);
                }
                
            }
            .pageArrow{
                position: absolute;
                bottom: 0px;
                right: 10px;
                padding: 20px;
                img{
                    width: 30px;
                }
            }
        }
    }
}
